<div class="container p-5 w-75">
  <form  #recetaForm="ngForm"> 
    <h3>Crear receta</h3> <br>
    <div class="form-group row">
      <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="receta.nombre" 
                            class="form-control"  
                            id="nombre"
                            name=nombre 
                            placeholder="Quesadillas">
      </div>
    </div>

    <div class="form-group row">
      <label for="porciones" class="col-sm-2 col-form-label">Porciones (en numero)</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="receta.porciones"
                           class="form-control" 
                           id="porciones"
                           name="porciones"
                           placeholder="5">
      </div>
    </div>

    <div class="form-group row">
      <label for="ingredientes" class="col-sm-2 col-form-label">Ingredientes</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="receta.ingredientes"
                           class="form-control" 
                           id="ingredientes"
                           name="ingredientes"
                           placeholder="queso, tomate">
      </div>
    </div>

    <div class="form-group row">
      <label for="preparacion" class="col-sm-2 col-form-label">Preparacion</label>
      <div class="col-sm-10">
        <textarea class="form-control" [(ngModel)]="receta.preparacion" 
                                       id="preparacion" rows="3"
                                       name="preparacion" 
                                       placeholder="" ></textarea>
      </div>
    </div>

      <button class="btn btn-outline-dark" 
              role="button"   
              (click)="onSubmit()">Crear</button>
    </form>
</div>
