 <main>
   <div class=" container">
     <div class="row mx-0 pt-3">
       <div class="col-lg-8 text-center">
         <h3>Encuentra la receta que necesitas</h3>
       </div>
       <div class="col-lg-4 text-center"><button [routerLink]="['/receta/crear']" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-danger">Crear receta</button></div>
     </div>

     <div class="row mx-0">
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
       <div class="col-lg-4 p-3">
         <app-card-food></app-card-food>
       </div>
     </div>
   </div>
 </main>
